@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Prata&family=Rokkitt:wght@100;400&display=swap");
.btn, .btn-removeChecked, .btn-backHome, .btn-tableSavePassword, .btn-savePassword, .btn-create {
  color: #fff;
  background-color: inherit;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
  font-weight: 500;
}

.btn-create {
  border: 1px #43b472 solid;
  width: 100px;
}
.btn-create:hover {
  background-color: #21a361;
  color: #000;
}

.btn-savePassword {
  border: 1px #43b4ae solid;
}
.btn-savePassword:hover {
  background-color: #43b4ae;
  color: #000;
}

.btn-tableSavePassword {
  border: 1px #d13131 solid;
  text-decoration: none;
  padding: 10px;
}
.btn-tableSavePassword:hover {
  background-color: #d13131;
  color: #000;
}

.btn-backHome {
  border: 1px #a6d131 solid;
  text-decoration: none;
  padding: 10px;
}
.btn-backHome:hover {
  background-color: #a6d131;
  color: #000;
}

.btn-removeChecked {
  border: 1px #fc0101 solid;
  text-decoration: none;
  padding: 10px;
}
.btn-removeChecked:hover {
  background-color: #fc0101;
  color: #000;
}

.btn-icon, .btn-remove, .btn-edit {
  outline: none;
  cursor: pointer;
  border: 0;
  margin: 5px;
  background-color: Transparent;
  outline: none;
  cursor: pointer;
}

.btn-edit {
  color: #21a361;
}

.btn-remove {
  color: #e91515;
}

/* The switch - the box around the slider */
.checkBoxContainer_label-switch {
  position: relative;
  width: 50px;
  height: 24px;
  /* Hide default checkbox */
}
.checkBoxContainer_label-switch-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #43b472;
}

input:focus + .slider {
  box-shadow: 0 0 1px #43b472;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}

.checkbox {
  width: 100%;
  margin: 15px auto;
  position: relative;
  display: block;
}
.checkbox input[type=checkbox] {
  width: auto;
  opacity: 1e-8;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.checkbox label {
  position: relative;
}
.checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #7bbe72;
}
.checkbox label::after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #7bbe72;
  border-left: 2px solid #7bbe72;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 12px;
  left: 10px;
}
.checkbox input[type=checkbox]:checked ~ label::before {
  color: #7bbe72;
}
.checkbox input[type=checkbox]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}
.checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.checkbox span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.checkbox input[type=checkbox]:focus + label::before {
  outline: 0;
}

.range-slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.range-slider-label {
  margin: 10px;
}
.range-slider-result {
  font-size: 20px;
  color: red;
}
.range-slider::before, .range-slider::after {
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
}
.range-slider::before {
  content: attr(data-min);
  left: 10px;
}
.range-slider::after {
  content: attr(data-max);
  right: 10px;
}

.Header {
  margin: 20px;
  padding: 10px;
  font-weight: 600;
  font-size: 45px;
}

.mainContainer {
  width: 500px;
  height: 525px;
  background-color: inherit;
  color: #fff;
  border-radius: 25px;
}
.mainContainer_generatePassword {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
  width: 90%;
  height: 100px;
  color: #000;
  background-color: #ccc;
  border: 1px #43b472 solid;
  border-radius: 25px;
}
.mainContainer_seating {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  height: auto;
  border: 1px, solid, black;
  font-size: 24px;
}
.mainContainer_savePassword {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.mainContainer_savePassword-name {
  color: green;
  padding: 5px;
}
.mainContainer_savePassword-name-textInput_green {
  background: transparent;
  color: #fff;
  border: #fff;
  border-bottom: 1px green solid;
  outline: unset;
  text-align: center;
}
.mainContainer_savePassword-name-textInput_red {
  background: transparent;
  color: #fff;
  border: #fff;
  border-bottom: 1px red solid;
  outline: unset;
  text-align: center;
}
.mainContainer_savePassword-password {
  color: red;
  padding: 5px;
}
.mainContainer_button {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.checkBoxContainer {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}
.checkBoxContainer_label {
  font-size: 20px;
}

.mainContainerSavedPasswords {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mainContainerSavedPasswords-text {
  color: chartreuse;
  font-size: 44px;
}
.mainContainerSavedPasswords-tableBox {
  margin: 20px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainContainerSavedPasswords-tableBox-table,
.mainContainerSavedPasswords-tableBox th,
.mainContainerSavedPasswords-tableBox td {
  width: 100vw;
}
.mainContainerSavedPasswords-tableBox th {
  color: red;
}
.mainContainerSavedPasswords-tableBox tr:hover {
  color: #f5a003;
}
.mainContainerSavedPasswords-tableBox .actionIcon {
  cursor: pointer;
  opacity: 0;
}
.mainContainerSavedPasswords-tableBox .actionIcon:hover {
  opacity: 1;
  cursor: pointer;
}
.mainContainerSavedPasswords-tableBox .inputEditPassword {
  background: transparent;
  color: #fff;
  border: #fff;
  border-bottom: 1px green solid;
  outline: unset;
  text-align: center;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rokkitt", serif;
  font-size: 25px;
}

body {
  font-family: "Rokkitt", serif;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: #fff;
}