.mainContainerCheckPasswords {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mainContainerCheckPasswords_text {
  color: #f1b202;
  font-size: 44px;
  margin-top: 10px;
}
.mainContainerCheckPasswords_spinier {
  width: 100px;
  height: 100px;
}
.mainContainerCheckPasswords_button {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.checkPassword {
  width: 50vw;
  height: 45px;
  text-align: center;
  border: 1px solid #f1b202;
  border-radius: 5px;
  outline: none;
}