.mainContainerSavedPasswords {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mainContainerSavedPasswords-text {
  color: chartreuse;
  font-size: 44px;
}
.mainContainerSavedPasswords-tableBox {
  margin: 20px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainContainerSavedPasswords-tableBox-table,
.mainContainerSavedPasswords-tableBox th,
.mainContainerSavedPasswords-tableBox td {
  width: 100vw;
}
.mainContainerSavedPasswords-tableBox th {
  color: red;
}
.mainContainerSavedPasswords-tableBox tr:hover {
  color: #f5a003;
}
.mainContainerSavedPasswords-tableBox .actionIcon {
  cursor: pointer;
  opacity: 0;
}
.mainContainerSavedPasswords-tableBox .actionIcon:hover {
  opacity: 1;
  cursor: pointer;
}
.mainContainerSavedPasswords-tableBox .inputEditPassword {
  background: transparent;
  color: #fff;
  border: #fff;
  border-bottom: 1px green solid;
  outline: unset;
  text-align: center;
  width: 100%;
}