.btn {
  // width: 100px;
  // height: 45px;

  color: #fff;
  background-color: inherit;
  outline: none;

  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
  font-weight: 500;
}

.btn-create {
  @extend .btn;
  border: 1px #43b472 solid;
  width: 100px;

  &:hover {
    background-color: #21a361;
    color: #000;
  }
}

.btn-savePassword {
  @extend .btn;
  border: 1px #43b4ae solid;

  &:hover {
    background-color: #43b4ae;
    color: #000;
  }
}


.btn-tableSavePassword {
  @extend .btn;
  border: 1px rgb(209, 49, 49) solid;
  text-decoration: none;
  padding: 10px;

  &:hover {
    background-color: rgb(209, 49, 49);
    color: #000;
  }
}

.btn-backHome {
  @extend .btn;
  border: 1px rgb(166, 209, 49) solid;
  text-decoration: none;
  padding: 10px;

  &:hover {
    background-color: rgb(166, 209, 49);
    color: #000;
  }
}

