.range-slider {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  &-label {
    margin: 10px;
  }

  &-result {
    font-size: 20px;
    color: red
  }

  &::before,
  &::after {
    position: absolute;
    color: #fff;
    font-size: 0.9rem;
  }

  &::before {
    content: attr(data-min);
    left: 10px;
  }

  &::after {
    content: attr(data-max);
    right: 10px;
  }
}