@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Prata&family=Rokkitt:wght@100;400&display=swap');

@import './buttons';
@import './inputCheckbox';
@import './textInput';
@import './rangeSlider';
@import './Header.scss';
@import './Box.scss';
@import './SavedPasswords';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rokkitt', serif;
  font-size: 25px;
}

body {
  font-family: 'Rokkitt', serif;
  background-color: #282c34;

  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: #fff;
}