.mainContainer {
  width: 500px;
  height: 525px;
  background-color: inherit;
  color: #fff;
  border-radius: 25px;

  &_generatePassword {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;

    width: 90%;
    height: 100px;

    color: #000;
    background-color: #ccc;
    border: 1px #43b472 solid;
    border-radius: 25px;
  }

  &_seating {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

    height: auto;
    border: 1px, solid, black;
    font-size: 24px;
  }

  &_savePassword {
    display: flex;
    flex-direction: column;
    padding: 5px;

    &-name {
      color: rgb(0, 128, 0);
      padding: 5px;

      &-textInput_green {
        width: 100%;
        background: transparent;
        color: #fff;
        border: #fff;
        border-bottom: 1px rgb(0, 128, 0) solid;
        outline: unset;
        text-align: center;
      }

      &-textInput_red {
        width: 100%;
        background: transparent;
        color: #fff;
        border: #fff;
        border-bottom: 1px rgb(255, 0, 0) solid;
        outline: unset;
        text-align: center;
      }
    }

    &-password {
      color: rgb(255, 0, 0);
      padding: 5px;
    }
  }

  &_button {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.checkBoxContainer {
  height: 45px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid;

  padding: 10px;
  margin: 10px;

  &_label {
    font-size: 20px;
  }
}
